<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- Team list........ -->
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Configuration</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <input type="text" class="inputFilter" placeholder="select one" [(ngModel)]="searchText"
                                [matAutocomplete]="auto" (keyup)="filter()">

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onMenuSelected($event.option)">
                                <mat-option *ngFor="let environment of environments" [value]="environment.Name">
                                    {{environment.Name}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <!-- <ngx-org-chart [nodes]="nodes" direction="vertical"></ngx-org-chart> -->
                        <table class="table table-hover">
                            <thead class="text-warning"> 
                                <th>Env Name</th>
                                <th>IP</th>
                                <th>Version</th>
                                <th>DB</th>
                                <!-- <th>Current Task</th>
                            <th>Status</th> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <!-- <a routerLink="/icons" (click)="onEmployeeSelected(employee)"> -->
                                        {{resultArray.name}}
                                        <!-- </a> -->
                                        <!-- <router-outlet></router-outlet> -->
                                    </td>
                                    <td>
                                        {{resultArray.title}}
                                    </td>
                                    <td>
                                        {{resultArray.version}}
                                    </td>
                                    <td>
                                        {{resultArray.db}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <!-- <button type="button" id="button" class="btn btn-primary btn-sm"
                            (click)="toggleEmployee()">{{showListEmployee ? 'Hide ': 'See '}}
                                More
                        </button> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task list -->
        </div>
    </div>
</div>