/* .row.container {
    justify-content: center;
} */
.container{
    margin: 100px;
}
.inputFilter{
    margin: 0px 300px;
}
/* #Add{
    position: absolute;
    right: 50px;
    top: 50px;
} */
#AddTask{
    position:absolute;
    right: 50px;
    top:6px;
}