<div class="main-content">
    <div class="container-fluid">
        <button type="button" id="Add" class="btn btn-success" (click)="goBack()">
            Back
        </button>
        <div class="row">
            <!-- Team list........ -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{labName}}</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div><button type="button" id="AddTask" class="btn btn-outline-success btn-sm" (click)="openDialog()">Add Task
                                </button></div>
                            <input type="text" class="inputFilter" placeholder="select one" [(ngModel)]="searchText"
                                [matAutocomplete]="auto" (keyup)="filter()">

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onMenuSelected($event.option)">
                                <mat-option *ngFor="let environment of environments" [value]="environment.labData">
                                    {{environment.labData}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <!-- <ngx-org-chart [nodes]="nodes" direction="vertical"></ngx-org-chart> -->
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Environment</th>
                                <th>Keys</th>
                                <th>Values</th>
                                <th>Edit</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of labData">
                                    <td>
                                        {{data.environment_Data}}
                                    </td>
                                    <td>
                                        {{data.keys_}}
                                    </td>
                                    <td>
                                        {{data.values_}}
                                    </td>
                                    <td>
                                        <button mat-icon-button (click)="updateLab(data.id)">
                                            <mat-icon>launch</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <!-- <button type="button" id="button" class="btn btn-primary btn-sm"
                            (click)="toggleEmployee()">{{showListEmployee ? 'Hide ': 'See '}}
                                More
                        </button> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Task list -->
        </div>
    </div>
</div>