<div class="container">
  <div class="inputs">
    <form #userForm="ngForm" (ngSubmit)="postData(userForm.value)">
      <label>Task</label>
      <input type="text" ngModel name="Task" placeholder="Enter Employee Task" />
      <label>Assigned</label>
      <input type="text" ngModel name="Assigned_To" placeholder="Enter Assigned Employee" />
      <label>End Date</label>
      <input type="date" ngModel name="Estimated_Date" placeholder="Enter End Date" />
      <label>Status</label>
      <input type="text" ngModel name="Current_Status" placeholder="Enter Task Status" />
      <label>Description</label>
      <input type="text" ngModel name="Descr" placeholder="Enter Description" />
      <label>Environment</label>
      <input type="text" ngModel name="Env_" placeholder="Enter Environment" />
      <button type="submit" class="submitButton">Submit</button>
    </form>
    <button (click)="close()" class="cancelButton">Cancel</button>

    <!-- {
    "Task":"API development",
    "Assigned_To":"Shubhankit",
    "Estimated_Date":'2021-08-14T00:00:00',
    "Current_Status":"Complete",
    "Descr":"Development",
    "Env_":"QALab1"
    } -->
  </div>
</div>